.header.sticked {
    margin-top: 32px !important;
}
@media screen and (max-width: 782px) {
    .header.sticked {
        margin-top: 46px !important;
    }
}
.hero .btn-get-started:not(:last-child) {
    margin-right: 10px;
}
#main > section/**:not(:last-child)*/ {
    padding: 45px 0;
}
#main > section:nth-child(odd) {
    background-color: #fAfAfA;
}
section.he-bullets {
    padding-top: 0;
}
.section-header > h2.red {
    color: #da4150;
}