.header.sticked {
    margin-top: 32px !important;
}
@media screen and (max-width: 782px) {
    .header.sticked {
        margin-top: 46px !important;
    }
}
.hero .btn-get-started:not(:last-child) {
    margin-right: 10px;
}